<% include ./partials/header %>

<div style="margin-top:50px;"class="row">
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="POST">
            <div class="form-group" >
                <input required class="form-control form-control-sm" type="text" name="firstName" placeholder="first name">
            </div>
            <div class="form-group" >
                <input class="form-control form-control-sm" type="text" name="lastName" placeholder="last name">
            </div>
            <div class="form-group" >
                <input required class="form-control form-control-sm" type="email" name="email" placeholder="barlover@gmail.com">
            </div>
            <div class="form-group" >
                <input required class="form-control form-control-sm" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group" >
                <input pattern=".{8,25}" required title="8 to 25 characters" class="form-control form-control-sm" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group" >
                <input class="form-control form-control-sm" type="text" name="adminCode" placeholder="admin secret code">
            </div>
            <div class="form-group" >
                <input class="form-control form-control-sm" type="text" name="avatar" placeholder="avatar url">
            </div>
            <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Signup <i class="fas fa-user-plus"></i></button>
            </div>
        </form>
        <a href="/bars">Go back</a>
    </div>
</div>
<% include ./partials/footer %> 

